/**
 * @file
 * CSS Styling for app.
 */

body, button, caption, fieldset, input, legend, option, select, textarea, td, th {
    color: #222;
    background-color: #fff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

header.page-header {
    margin: 0 0 1em;
    padding: 0.2em 5px;
    border-bottom: 3px solid #ddd;
    background-color: #eee;
}

.site-name {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.6em;
}

.main-navigation a {
    display: inline-block;
    padding: 0 0.6em 0.1em;
    color: #000;
    background-color: #bbb;
}

div.content {
    padding: 0 5px 1em;
}

form {
    padding: 0 0 1.5em;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #ddd;
}

td {
    padding: 3px 6px;
}

/* Login form */

.login-form label,
.login-form input,
.login-form button {
    display: block;
}

.login-form label {
    font-weight: bold;
}

.login-form input {
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {

    header.page-header {
        padding: 0.2em 1em;
    }

    div.content {
        padding: 0 1em 1em;
    }
}
