{# login.html.twig #}
{% extends 'app.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="current-user-info">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    {% if error %}
        <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">login</button>
    </form>
{% endblock %}
